{% extends "onlineStore/base.html" %}

{% block content %}
<div class="products">
    <div class="search-bar">
        <form action="" method="get">
            <span onclick="toggleMenu()"><strong>☰</strong></span>
            <input class="bar" type="text" placeholder="Search products.." name='query'>
            <button type="submit" class="btn"><i class="fas fa-search"></i></button> {# Using search icon for clarity #}
        </form>
    </div>
    <h2>Browse Products</h2>
    <div class="product-grid">
        {% for product in products %} 
        <div class="product">
            <img src="{{product.image_url}}" alt="item {{product.id}}">
            <div class="product-info"> {# Added div for consistent styling #}
                <a href='{% url "onlinestore:products_description" product.id %}'><h3>{{product.name}}</h3></a>
                <p>₦{{product.price}}</p>
                <p>QTY - {{product.number_available}}</p>
                
                
            </div>
            {# Updated button to use class and data-attribute for JS handling #}
            {% if product.number_available %}
            <button class="add-to-cart-button" data-product-id="{{product.id}}">            
                Add to Cart <span class="button-spinner" style="display: none;"></span>               
            </button>
            {% else %}
            <button class="add-to-cart-button" disabled data-product-id="{{product.id}}">            
                 Product Sold-out  <span class="button-spinner"></span>               
            </button>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
